<xseacher></xseacher>
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd">图文组合列表</div>
  <div class="weui-panel__bd">
	    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" ng-repeat="list in lists|filter:searchName">
		      <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" ng-src={{list.src}}>
		      </div>
		      <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title" style="color: red;">{{list.title}}</h4>
		        <p class="weui-media-box__desc" style="color: #000000;">{{list.contain}}</p>
		      </div>
	    </a>
  </div>
  <div class="weui-panel__ft" ng-click="loadmore()" ng-show="isshow">
    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
      <div class="weui-cell__bd">查看更多</div>
      <span class="weui-cell__ft"></span>
    </a>    
  </div>
  <div class="weui-loadmore" ng-hide="isshow">
	  <i class="weui-loading"></i>
	  <span class="weui-loadmore__tips">正在加载</span>
   </div>
  <div class="weui-loadmore weui-loadmore_line">
	    <span class="weui-loadmore__tips">暂无数据</span>
  </div>
</div>